<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>El producto seleccionado es:</h1>
        Id del producto: {{ id }}<br/>
        Producto: {{ name }} <br/>
        Precio: {{ price }} <br/>
    </body>
</html>

