<!DOCTYPE html>
<html>    
    <head>
        <title>Respuestas</title>
    </head>
    
    <body>
        <h3>Listado de respuestas (  )</h3>

        
            {% for answer in answers %}
            <p>
                Respuesta: {{ answer.getAnswerdescription }}<br/>
                Pregunta_id: {{ answer.getQuestion }}
            </p>
            {% endfor %}
       
    
    </body>
</html>