<!DOCTYPE html>
<html>    
    <head>
        <title>Preguntas</title>
    </head>
    
    <body>
        <h3>Listado de preguntas ( {{ nP }} )</h3>

        <p>
            
                Pregunta: {{ questions.getQuestiondescription }}<br/>
                Respuesta(s):
                    <ul>
                        {% for answer in questions.getAnswers %}

                            <li> {{ answer.getAnswerDescription }}</li>

                        {% endfor %}
                    </ul>
          
        </p>
    
    </body>
</html>